/*=============== ACTIVITIES ===============*/
.activities {
    @media screen and (max-width:1199px) {
        display: none;
    }
    padding-bottom: 94px;
}
.aboutus-title,
.our-clients {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: $color-title;
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}

.activities-list {
    display: flex;

    &-item{
        position: relative;
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &-item-text {
        position: absolute;
        bottom: 0px;
        left:0;
       /* z-index: 1;*/
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 100%;
        height: 70px;
    
        font-family: $main-font;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        color:$color-lead;
        text-transform: uppercase;
    
        background-color:  rgba(47, 48, 58, 0.8)
    }
    
}
/*=============== END ACTIVITIES ===============*/