/*=============== CLIENTS ===============*/
.clients-list {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/

    @media screen and (max-width:1600px) {
        margin-top: -30px;
        margin-left: -30px;
    }
}

.client-list-item {
    @media screen and (max-width:1600px) {
        margin-top: 30px;
        margin-left: 30px;
    }
}

.client-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 210px;
    height: 90px;

    transition-duration: $duration;
    transition-timing-function: $timing-function;

    @media screen and (min-width:768px) {
        width: 226px;
    }

    @media screen and (min-width:1200px) {
        width: 170px;
    }

    &:hover,
    &:focus {
        color: $accent-color;
        border: 1px solid $accent-color;
    }
}

.client-list-link-icon {
    fill: #AFB1B8;
    
    transition-duration: $duration;
    transition-timing-function: $timing-function;

    .client-list-link:hover &,
    .client-list-link:focus & {
        fill: $accent-color;
    }
}
/*=============== END CLIENTS ===============*/