.conteiner {
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;

    .header & {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width:480px) {
        max-width:480px;
    }

    @media screen and (min-width:768px) {
        max-width:768px;    
    }

    @media screen and (min-width:1200px) {
        max-width:1200px;        
    }

    .footer & {
        @media screen and (min-width:768px) {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        @media screen and (min-width:1200px)  {
            text-align: start;
            justify-content: space-between;
            align-items: center;
        }
    }
}
