/*=============== HEADER ===============*/
.header {
    position: relative;
    @media screen and (max-width:767px){
        height: 60px;
    }

    & .conteiner {
        display: flex;
        height: 100%;
        align-items: center;        
    }
}

.menu-container {
    display: none;
}


.menu-btn {
    display: inline-flex;
    padding: 0;
    margin-left: auto;
    border: none;
    background-color:transparent;

    & .icon-cross {
        display: none;
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}

.icon-menu:hover,
.icon-menu:focus {
    fill: $accent-color;
}

.menu-btn.is-open .icon-cross {
    display: block;
}

.menu-btn.is-open .icon-menu {
    display: none;
}

.menu-container {
    text-align: center;

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top:100%;
        left:0;
        width:100%;
    }

    &.is-open {
        display: block;
        background-color: $color-lead;
    }
}

@media screen and (max-width: 767px) {
    .menu-container.is-open {
        height: 393px;
        padding-top: 60px;
        padding-bottom: 60px;
        z-index: 999;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity $duration $timing-function, visibility $duration $timing-function;
    }
}

.nav-list-item,
.address-mail,
.address-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $color-description;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
    @media screen and (min-width:768px) {
        font-size: 18px;
        line-height: 1.143;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.nav-list-item {
    &-link {
        display: inline-block;
        text-decoration: none;
        /*padding-top: 32px;
        padding-bottom: 32px;*/
        color: $color-title;
        transition-duration: $duration;
        transition-timing-function: $timing-function;

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }    
}
@media screen and (max-width:767px){
    .nav-list-item:not(:last-child){
        margin-bottom: 40px;
    }
    .nav {
        margin-bottom: 60px;
    }        
}

.address-list {
    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.address-list-item {
    &:not(:last-child) {
        margin-bottom: 16px;
        @media screen and (min-width:768px) {
            margin-bottom: 10px;
        }
        @media screen and (min-width:1200px) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    }
}

.address-mail-icon {
    fill: $color-description;
    margin-right: 10px;
    transition-duration: $duration;
    transition-timing-function: $timing-function;

    .address-mail:hover &,
    .address-mail:focus & {
        fill: $accent-color;
    }

}

.address-tel-icon {
    fill: $color-description;
    margin-right: 10px;
    transition-duration: $duration;
    transition-timing-function: $timing-function;

    .address-tel:hover &,
    .address-tel:focus & {
        fill: $accent-color;
    }
}
.current {
    position: relative;
    color: $accent-color;

    &::after {
        content:"";
        display: inline-block;
        background-color: $accent-color;
        position: absolute;
        bottom: -1px;
        right: 0;
        
        width: 100%;
        height: 4px;
    
        border-radius: 2px;  
    }
}

.address-mail,
.address-tel {
    display: flex;
    align-items:center;
    justify-content: center;
}







/*
@media screen and (min-width:768px) {
    .nav-list-item:not(:last-child) {
        margin-right: 50px;
    }
}
@media screen and (min-width:768px) {
    .menu-container,
    .nav,
    .nav-list,
    .address {
        display: flex;
        align-items: center;
       /*flex-grow: 1;*/
   /* }
}

@media screen and (min-width:768px) {
    .address {
        margin-left: 84px;
    }
}

@media screen and (min-width:1200px) {
    .address {
        margin-left: 305px;
    }
}*/
/*=============== END HEADER ===============*/