/*=============== HERO ===============*/
.hero {
    display: flex;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: #C4C4C4;

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
} 

.hero .conteiner {
    text-align: center;
    justify-content: center;
    align-content: center;
}

.hero-title {
    font-family: $main-font;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-transform: uppercase;
    color: $color-lead;
    letter-spacing: 0.06em;

    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.364;
        max-width: 696px;
    }
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: $color-lead;
    background-color: $accent-color;
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
    border: 0px;
}

.project-buttons-list-item-button:hover,
.project-buttons-list-item-button:focus,
.button:hover,
.button:focus {
    background-color: $accent-color;
    color: $color-lead;
    cursor: pointer;
}

.overlay {
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
                     rgba(47, 48, 58, 0.4),
                     rgba(47, 48, 58, 0.4)),
                    url(../images/bg-img-mob1x.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: 480px 400px;

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
        .overlay {
            background-image: url(../images/bg-imgmob2x.png);
        }
    }

    @media screen and (min-width:768px) {
        max-width: 1199px;
        background-image: 
            linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
            url(../images/bg-img-tab1x.png);
        background-size: 768px 400px;  
        
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
            .overlay {
                background-image: url(../images/bg-img-tab2x.png);
            }
        }             
    }

    @media screen and (min-width:1200px) {
        max-width: 1600px;
        height: 600px;
        background-image: 
            linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
            url(../images/bg-img-desk1x.png);
        background-size: 1600px 600px;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
            .overlay {
                background-image: url(../images/bg-img-desk2x.png);
            }
        }
    }

    @media screen and (min-width:1200px) {
        max-width: 1600px;
        height: 600px;
    }
    
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

/*=============== END HERO ===============*/