/*=====LOGO=====*/
.logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.174;
    text-decoration: none;
    
    &-blue {
        color: #2196F3;
    }

    &-black {
        color: #000000;
    }

    &-white {
        color: #ffffff;
    }

    @media screen and (min-width:1200px) {
        font-size: 26px;
        line-height: 1.384;
    }
}
/*=====END LOGO=====*/