/*=============== TEAM ===============*/

.team {
    background-color: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &-list {
        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            margin-top: -30px;
            margin-left: -30px;
        }
    }
}


.team-list-item {
    text-align: center;
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;

    margin-top: 30px;

    @media screen and (min-width:768px) {
        
        margin-left: 30px;
    }

    &-photo {
        @media screen and (min-width:768px) {
            width: 354px;
            height: 374px;
        }

        @media screen and (min-width:1200px) {
            width: 270px;
            height: 260px;
        }
    }

}

.team-list-info {
    padding: 30px 32px;
}

.team-list-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: $color-title;
}
.team-list-item-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $color-description;
    padding-top: 10px;
}

.social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding-top: 16px;

    @media screen and (min-width:1200px) {
        justify-content: space-between;
    }

    &-item:not(:last-child) {
        margin-right: 10px;

        @media screen and (min-width:1200px) {
            margin-right: 0;
        }
    }
}

.social-list_link,
.footer-contacts-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    transition-duration: $duration;
    transition-timing-function: $timing-function;

    &:focus,
    &:hover {
        background-color: $accent-color;
    }
}

.social-list_link:hover .social-link-icon,
.social-list_link:focus .social-link-icon {
    fill: $color-lead;
}

.social-list_link {
    fill: #AFB1B8;
}
/*=============== END TEAM ===============*/